<p id="notice"><%= notice %></p>

<h1>Expense Reports</h1>


<div class="w-25">
  <%= form_tag expense_reports_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an expense report"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Items</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="expense-reports-index-table">
    <% @expense_reports.each do |expense_report| %>
      <tr>
        <td><%= expense_report.title %></td>
        <td><%= expense_report.date %></td>
        <td><%= expense_report.items %></td>
        <td class="approval-container" data-expense-report-approval-id="<%= expense_report.id %>"><%= expense_report.approved ? "YES" : "NO" %></td>
        <td><%= link_to 'Show', expense_report %></td>
        <td><%= link_to 'Edit', edit_expense_report_path(expense_report) %></td>
        <td><%= link_to 'Destroy', expense_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense Report', new_expense_report_path %>
