<p id="notice"><%= notice %></p>

<div class="expense-reports-show">
  <p>
    <strong>Title:</strong>
    <%= @expense_report.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @expense_report.date %>
  </p>

  <p>
    <strong>Items:</strong>
    <%= @expense_report.items %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= @expense_report.approved %>
  </p>

  <% if policy(@expense_report).approve? %>
    <div>
      <%= link_to 'APPROVE', expense_report_approve_path(@expense_report) %>
    </div>
  <% end %>

  <%= link_to 'Edit', edit_expense_report_path(@expense_report) %> |
  <%= link_to 'Back', expense_reports_path %>
</div>
